* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
    display: flex;
}

.buttons {
    max-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 40px;
    gap: 5px;
}

#makeLob {
    color: #0006ba;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 17px;
}

#joinLob {
    color: #790000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 17px;
}

#makeLob:hover {
    background-color: #0006ba57;
    
}

#joinLob:hover {
    background-color: #7900004b;
}


.lobBtn {
    width: 100px;
    padding: 40px;
    border: none;
}

.lobBtn:hover {
    width: 100px;
    padding: 40px;
    border: none;
}

#board {
    width: 1220px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    row-gap: 16px;
}

#board div {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
}

#board div p {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    color: #0006ba;
    font-weight: 700;
}

button {
    border: 1px solid #0006ba;
    background: #fff;
    color: #0006ba;
    font-weight: 700;
    cursor: pointer;
}

.create-lobby{
    max-height: 100px;
}
#pp{
    margin-top: 10px;
}

.locked {
    background: #4A4A4A;
    color: #fff;
}