* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffcf0;
}

main {
    display: flex;
}

h2 {
    justify-self: start;
}

#gameName {
    margin-top: 10px;
}

.gameIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#gameDesc {
    font-size: 13px;
    margin-left: 80px;
}

input {
    margin-top: 35px;
    padding: 10px;
    max-height: 30px;
    width: 110px;
    font-size: 10px;
}

.hidden {
    display: none;
}

.buttons {
    max-height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
    position: relative;
}

#makeLob {
    color: #0006ba;
    background-color: #a8aae233;
    border: #0300b51e solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 17px;
    
}

#joinLob {
    color: #790000;
    background-color: #e2bebe23;
    border: #d6000018 solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 17px;
}

#makeLob:hover {
    background-color: #0006ba57;
    border: #0300b53d solid 3px;
    cursor: pointer;
}

#joinLob:hover {
    background-color: #7900004b;
    border: #d6000052 solid 3px;
    cursor: pointer;
}

.lobBtn {
    width: 100px;
    padding: 40px;
    border: none;
}

.lobBtn:hover {
    width: 100px;
    padding: 40px;
    border: none;
}

.create-lobby{
    max-height: 100px;
}
