* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

#board {
    width: 1220px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    row-gap: 16px;
}

#board div {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
}

#board div p {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    color: #0006ba;
    font-weight: 700;
}

button {
    width: 40px;
    height: 40px;
    border: 1px solid #0006ba;
    background: #fff;
    color: #0006ba;
    font-weight: 700;
    cursor: pointer;
}


.locked {
    background: #4A4A4A;
    color: #fff;
}
